/*section 1*/
@font-face {
    font-family: myfont;
    src: url(/assets/font/00819\ Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.heading {
    background-image: url(/assets/images/main-bg.png);
    background-size: cover;
    background-position: center;
}

#button {
    background-color: #aab33c;
    width: 150px;
    height: 30px;
}

#button:hover {
    transform: scale(1.1);
}

#best {
    font-family: myfont;
    font-size: 80px;
}

#bestcontainer p {
    color: #a9b33b;

}

#bestcontainer {
    padding-left: 140px;
}

.button2 {
    background-color: #aab33c;
    width: 150px;
    height: 30px;
    border: none;
}

.pre1 {
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";

}

/*section 2*/

.card-body {
    border-radius: 20px;
}

#content p {
    /* margin-top: 15px; */
    font-size: 25px;
    font-weight: bold;
    font-family: "Quicksand";
    text-align: center;
    align-items: center;
    max-width: 45%;
}

.card img {
    width: 50%;
    height: 50%;

}

#cardtext {
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

/*css for cards*/
.card {
    border-radius: 10px;
    box-shadow: 10px 10px 25px rgb(185, 185, 185);
    color: #030303;
    font-family: "Quicksand";
}

.card::after {
    content: '';
    inset: 0;
    position: absolute;
    opacity: 0.3;
    background-color: #d9e271;

}

.card:hover {
    transform: scale(1.1);
}


/*section 3*/

#sec3content{
text-transform: uppercase;
font-weight: 700;
font-family: "Quicksand";
color:black;
}
#sec3img{
    background-color: #e5e8c4;
}

#sec3img:hover {
    transform: scale(1.1);
}
/*section 4*/

#bacforsec4 {
    margin-top: -120px;
    width: 2079px;
    height: 550px;
    background-color: #a9b33c17;
}

#sec4comgraph {
    height: 500px;
    width: 400px;
    margin-top: 45px;
    margin-left: 200px;

}

#sec4pre1 {
    font-size: 30px;
    font-weight: 800;
    margin-left: 650px;
    margin-top: -200px;
    letter-spacing: -1px;
    line-height: 1.1;
}

#sec4para1 {
    font-size: 11px;
    font-weight: 300px;
    margin-left: 715px;
    margin-top: -70px;
    line-height: -1px;
}

#sec4para2 {
    font-size: 11px;
    font-weight: 300px;
    margin-left: 715px;
    line-height: -1px;
}

#sec4para3 {
    font-size: 11px;
    font-weight: 300px;
    margin-left: 715px;
    line-height: -1px;
}

#sec4btn {
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: "Quicksand";
    height: 30px;
    width: 200px;
    background-color: #aab33c;
    margin-left: 1045px;
    margin-top: 30px;
    border: none;
}

#sec4btn:hover {
    transform: scale(1.1);
}